.navbar {
    background-color: var(--theme);
    padding: 0.5rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: var(--white);
    font-weight: '600';
    font-size: 1rem;
    margin: 0;
}

.link {
    opacity: 0.8;
    cursor: pointer;
}

.link:hover {
    opacity: 1;
    transition: all 0.3s;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    border-radius: 50%;
    height: 2rem;
}

.profile p {
    margin: 0;
}

.user-logo {
    height: 1.7rem !important ;
}